<h1>Gamers in the House</h1>

<% @users = User.all %>
<% @users.each do |user| %>
<ul class="list">
  <%= image_tag user.avatar.url, :class=>'tinyAv' %>
  <%= user.gamertag %> 
  <span class='smlFont'><%= user.location  %></span>
</ul>
<% end %>




	<div class= "mapBox"> <img class="col-md-12" src = "http://maps.google.com/maps/api/staticmap?center=Columbus,OH&size=1000x250&sensor=false&zoom=1&markers=color:blue
		<% @users.each do |user|%> 
			| <%= user.latitude %>, <%= user.longitude %> 
		<% end %> "> 
	</div>














