<h1>Gamers in the House</h1>

<% @users = User.all %>
<% @users.each do |user| %>
<ul class="list">
  <%= image_tag user.avatar.url, :class=>'tinyAv' %>
  <%= user.gamertag %> 
  <span class='smlFont'><%= user.location  %></span>
</ul>
<% end %>




	<img src = "http://maps.google.com/maps/api/staticmap?center=NewYork,NY&size=700x400&sensor=false&zoom=3&markers=color:blue
		<% @users.each do |user|%> 
			| <%= user.latitude %>, <%= user.longitude %> 
		<% end %> "> 














