<h1><%= current_user.gamertag %>'s Profile page</h1>
<p>Check out more information about me below.</p>

<div class="profile-page-info">
<h4><%= current_user.email %></h4>

<h4><%= current_user.location %></h4>

<h4><%= current_user.bio %></h4>

<h4><%= current_user.gamertag %></h4>

<h4><%= current_user.twitter %></h4>

<h4><%= current_user.twitch %></h4>

<h4><%= current_user.psn %></h4>
</div>

<div class="avatar"><%= image_tag current_user.avatar.url %>
</div>
