<h2>Edit <%= resource_name.to_s.humanize %></h2>






<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>





  <div><%= f.file_field :avatar, :class => 'btn btn-info' %>
  </div>
   <br />

  <div>
  <%= f.text_field :gamertag %>
  </div>
  <br />

  <div>
  <%= f.text_field :full_name, autofocus: true %>
  </div>
  <br />
  
  <div>
  <%= f.text_field :location %>
  </div>
  <br />

  <div>
  <%= f.text_area :bio %>
  </div>
  <br />

  <div>
  <%= f.text_field :twitter %>
  </div>  
  <br />

  <div>
  <%= f.text_field :twitch %>
  </div>
  <br />

  <div>
  <%= f.text_field :psn %>
  </div>
  <br />

  <div>
  <%= f.email_field :email, autofocus: true %>
  </div>
  <br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.password_field :password, autocomplete: "off" %>
  (leave blank if you don't want to change it)
</div>
  <br />

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />

  <div><i></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>(we need your current password to confirm your changes)
  </div>
  <br />

  <div><%= f.submit "Update", :class => "btn btn-success" %></div>
<% end %>
<br /><br />

<h4>Cancel my account </h4>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger" %></p>

<%= link_to "Back", :back %>
