	
	<div class="container col-md-4">
	<%= bootstrap_form_for(@topic) do |f| %>
		<%= flash[:alert] %> 
	  <div><br>
	    <%= f.text_field :name, hide_label: false, :placeholder => "Make a bottle of wine..." %>
	  </div><br>
	 		   
	   	<%= f.text_area :name, hide_label: true, :class => "form-control", :rows => 6, :placeholder => "t'is a breezy day..." %>

	  <div><br>
	    <%= f.submit "Bottle it", :class => "btn btn-info " %>
	  </div>
	<% end %>
	</div>

