<h1><b>Games</b></h1>

<table>
  <thead class="game">
    <tr>
      <th class="th col-md-3">Gamer Tag</th> &nbsp &nbsp
      <th class="th col-md-3">Time</th>
      <th class="th col-md-3">Gamer Tag</th>

    </tr>
  </thead>

  <tbody class="game">
    <% @games.each do |game| %>
      <tr id="gameRow">
        <td>   <%= image_tag game.user.avatar.url, :class => "gamePic" %><%= game.user.gamertag   %></td>
        <td><%= link_to  game.time.strftime("%a %b %d @ %I:%M %p"), game %> </td> &nbsp &nbsp
         <td><%= game.friend_id  %> </td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn btn-success">
<%= link_to 'New Game',  new_game_path,  :class=>"white" %>
</div>
