<div class="container">
  <div class="home-page-main-container">
      <h1>Welcome to the Basem3nt</h1>
      <hr>
      <p>The Basem3nt League is the world's great videogame hockey beer league.</p>
      <p>We operate online video game hockey leagues using EA's NHL video game series on the Xbox 360 and Xbox One systems.</p>
      <p>We are still in private beta.</p>
  </div>
  <div class="home-page-sign-in"> 
		<h2>Sign In</h2>
    <hr>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name),  layout: :vertical, label_col: "col-sm-2", control_col: "col-sm-10", html: { class: "well" }) do |f| %>
             <div>
                <%= f.email_field :email,  placeholder: "Email",  autofocus: true %>
              </div>
              <div>
                <%= f.password_field :password, placeholder:"password", autocomplete: "off"  %>
              </div>
                  <% if devise_mapping.rememberable? -%>
              <div> 
                  <% end %>
                <%= f.form_group do %>
               <button type="submit" class="btn btn-success">
                Sign in</button>
                </div> 
    <% end %>

                  
<!--                     <%= f.check_box :remember_me %>
 -->                    <div class="facebook-sign-in">
                    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> </div>
                                       <div class="register"><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link, loginLogOut' %></div>
            <% end %>     
        
    </div>
</div>


